main {
  padding: 20px;
}
.feature-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 88px;
  color: #e8e8e8;
}
.feature-heading h2 {
  color: #e8e8e8;
}
.feature-heading p {
    font-size: 25px;
    margin-bottom: 30px;
  }
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid #908dff;
  border-radius: 30px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group input{
  border: 3px solid #212121 ;
  outline: none;
}
.form-group input:focus{
  border: 3px solid rgb(91, 66, 255) ;
}

label {
    font-weight: bold;
    display: block;
    color: #e8e8e8;
    margin-bottom: 20px;
}

input[type="email"],
input[type="url"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 20px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
