@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --primarycolor: #212121;
  --secondarycolor: #e8e8e8;
  --thirdcolor: #4e2aa4;
  /* --fourthcolor:#183153; */
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
  /* overflow: hidden; */
  width: 100%;
}
.nav {
  display: flex;
  height: 80px;
  justify-content: space-around;
  background-color: #18141380;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.nav .nav-logo {
  width: 135px;
  height: 65px;
  margin-top: 10px;
}
.nav .nav-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}
.nav .nav-middle ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.nav .nav-middle ul li {
  display: flex;
  gap: 2px;
}
.nav .nav-middle ul li a {
  text-decoration: none;
  color: #e8e8e8;
}
.nav .fa{
    margin-right: 7px;
}
.nav .nav-right{
    button {
        border-radius: 0.25rem;
        text-transform: uppercase;
        margin-top: 18px;
        /* margin-left: 46px; */
        margin-right: 29px;
        font-style: normal;
        font-weight: 400;
        padding-left: 25px;
        padding-right: 25px;
        color: var(--secondarycolor);
        -webkit-clip-path: polygon(
          0 0,
          0 0,
          100% 0,
          100% 0,
          100% calc(100% - 15px),
          calc(100% - 15px) 100%,
          15px 100%,
          0 100%
        );
        clip-path: polygon(
          0 0,
          0 0,
          100% 0,
          100% 0,
          100% calc(100% - 15px),
          calc(100% - 15px) 100%,
          15px 100%,
          0 100%
        );
        height: 40px;
        /* width: 175px; */
        font-size: 0.7rem;
        line-height: 14px;
        letter-spacing: 1.2px;
        transition: 0.2s 0.1s;
        background-image: linear-gradient(90deg, #28285a, #6220fb);
        border: 0 solid;
        overflow: hidden;
      }
    
      button:hover {
        cursor: pointer;
        /* width: 180px; */
        text-decoration: underline;
        text-underline-offset: 4px;
        font-weight: 600;
        color: #000;
        transition: all 0.2s ease-in;
        background-image: linear-gradient(90deg, #9472e1, #6220fb);
        padding-right: 32px;
        padding-left: 32px;
      }
    
      button:active {
        opacity: 0.5;
        transition: all 0s;
      }
}
nav .togglebtn {
    color: var(--secondarycolor);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    right: 0.7rem;
    top: 82px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    --wekit-backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    color: var(--secondarycolor);
    list-style: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .dropdown-menu.open {
    height: 295px;
  }
  .dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dropdown-menu a {
    display: flex;
    text-decoration: none;
    color: #e8e8e8;
  }
  .dropdown-menu {
    button {
      border-radius: 0.25rem;
      text-transform: uppercase;
      margin-top: -5px;
      margin-left: 35px;
      font-style: normal;
      font-weight: 400;
      padding-left: 25px;
      padding-right: 25px;
      color: var(--secondarycolor);
      -webkit-clip-path: polygon(
        0 0,
        0 0,
        100% 0,
        100% 0,
        100% calc(100% - 15px),
        calc(100% - 15px) 100%,
        15px 100%,
        0 100%
      );
      clip-path: polygon(
        0 0,
        0 0,
        100% 0,
        100% 0,
        100% calc(100% - 15px),
        calc(100% - 15px) 100%,
        15px 100%,
        0 100%
      );
      height: 40px;
      font-size: 0.7rem;
      line-height: 14px;
      letter-spacing: 1.2px;
      transition: 0.2s 0.1s;
      background-image: linear-gradient(90deg, #28285a, #6220fb);
      border: 0 solid;
      overflow: hidden;
    }
  
    button:hover {
      cursor: pointer;
      text-decoration: underline;
      text-underline-offset: 4px;
      font-weight: 600;
      color: #000;
      transition: all 0.2s ease-in;
      background-image: linear-gradient(90deg, #9472e1, #6220fb);
      padding-right: 32px;
      padding-left: 32px;
    }
  
    button:active {
      opacity: 0.5;
      transition: all 0s;
    }
  }

main .heroSection{

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  line-height: 105px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.hero-icon-div{
  width: 100%;
  height: 105px;
  padding: 2.5px;
  display: flex;
  margin-top: 130px;
  justify-content: center;
  align-items: center;
}
.hero-icon{
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-center{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 220px;
  height: 100%;
  margin-top: 73px;
  justify-content: center;
  align-items: center;
}
.Slogan{
  font-family: "Forum";
  font-size: 60px;
  font-weight: bolder;
  color: #212121;
  margin-top: -274px;
}
.description{
  margin-top: -256px;
  font-family: "Forum";
  font-size: 18px;
  font-weight: bolder;
  color: grey;
}

.search-box{
  width: 50%;
  height: 5rem;
  /* background-color: #000; */
  border: 4px solid #212121;
  border-radius: 75px;
  margin-top: -209px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box input{
  width: 94.9rem;
  height: 4rem;
  margin-top: -10px;
  background: none;
  border: 0;
  outline:0;
  border-radius: 75px;
  font-size: 20px;
  margin-top: 5px;
}

.search-icon-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 76px;
  border-radius: 50%;
}
.search-box .search-icon{
  /* size-adjust: 2px; */
  height: 57px;
  width: 55px;

}
.anchor {
  position: relative;
  left: -43%;
  bottom: -15%;
  width: 50px;
  height: 50px;
  background-color: #d1cece;
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-radius: 50%;
  cursor: pointer;
}

.anchor-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}

@media only screen and (min-width:1025px) {
.hero-icon{
      width:130px;
      height:130px;
}
}

  /* For Tablets */

@media only screen and (max-width: 768px) {
    .nav .togglebtn {
      display: block;
      margin-top: 22px;
      margin-right: -203px;
    }
    .nav {
      /* background-color: #9472e1; */
      height: 80px;
    }
    .nav {
      .nav-right,.nav-middle,
      nav >.getstarted {
        display: none;
      }
    }
    .nav .navbar{
        width: 0;
    }
    .nav .nav-left {
      margin-left: -235px;
    }
    .nav .nav-left .nav-logo{
      width: 148px;
      height: 66px;
      margin-top: 13px;
    }
    .nav .dropdown-menu {
        display: block;
        background-color: #18141380;
      }
    .nav .get_started {
        display: flex;
    }
    .nav .dropdown-menu .fa{
        margin-right: 5px;
        margin-top: 2px;
    }

}


/* For mobiles */
@media only screen and (max-width: 426px) {

 .nav .nav-left{
    margin-left: 0px;
  }
  .nav .nav-left .nav-logo {
    width: 107px;
    height: 55px;
    margin-left: -70px;
  }
  .nav .togglebtn {
    margin-top: px;
    margin-right: -79px;
  }
}
