@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --primarycolor: #212121;
  --secondarycolor: #183153;
  --thirdcolor: #4e2aa4;
  /* --fourthcolor:#183153; */
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #201f31;
  color: var(--primarycolor);
  /* overflow: hidden; */
  width: 100%;
}
.nav {
  display: flex;
  height: 80px;
  justify-content: space-around;
  background-color: #18141380;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.nav .nav-logo {
  width: 135px;
  height: 65px;
  margin-top: 10px;
}
.nav .nav-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}
.nav .nav-middle ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.nav .nav-middle ul li {
  display: flex;
  gap: 2px;
}
.nav .nav-middle ul li a {
  text-decoration: none;
  color: #e8e8e8;
}
.nav .fa {
  margin-right: 7px;
}
.nav .nav-right {
  button {
    border-radius: 0.25rem;
    text-transform: uppercase;
    margin-top: 18px;
    /* margin-left: 46px; */
    margin-right: 29px;
    font-style: normal;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--secondarycolor);
    -webkit-clip-path: polygon(
      0 0,
      0 0,
      100% 0,
      100% 0,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      15px 100%,
      0 100%
    );
    clip-path: polygon(
      0 0,
      0 0,
      100% 0,
      100% 0,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      15px 100%,
      0 100%
    );
    height: 40px;
    /* width: 175px; */
    font-size: 0.7rem;
    line-height: 14px;
    letter-spacing: 1.2px;
    transition: 0.2s 0.1s;
    background-image: linear-gradient(90deg, #28285a, #6220fb);
    color: #e8e8e8;
    border: 0 solid;
    overflow: hidden;
  }

  button:hover {
    cursor: pointer;
    /* width: 180px; */
    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: 600;
    color: #000;
    transition: all 0.2s ease-in;
    background-image: linear-gradient(90deg, #9472e1, #6220fb);
    padding-right: 32px;
    padding-left: 32px;
  }

  button:active {
    opacity: 0.5;
    transition: all 0s;
  }
}
nav .togglebtn {
  color: var(--secondarycolor);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0.7rem;
  top: 82px;
  width: 300px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  --wekit-backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: var(--secondarycolor);
  list-style: none;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open {
  height: 295px;
}
.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu a {
  display: flex;
  text-decoration: none;
  color: #e8e8e8;
}
.dropdown-menu {
  button {
    border-radius: 0.25rem;
    text-transform: uppercase;
    margin-top: -5px;
    margin-left: 35px;
    font-style: normal;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--secondarycolor);
    -webkit-clip-path: polygon(
      0 0,
      0 0,
      100% 0,
      100% 0,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      15px 100%,
      0 100%
    );
    clip-path: polygon(
      0 0,
      0 0,
      100% 0,
      100% 0,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      15px 100%,
      0 100%
    );
    height: 40px;
    font-size: 0.7rem;
    line-height: 14px;
    letter-spacing: 1.2px;
    transition: 0.2s 0.1s;
    background-image: linear-gradient(90deg, #28285a, #6220fb);
    border: 0 solid;
    overflow: hidden;
  }

  button:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: 600;
    color: #000;
    transition: all 0.2s ease-in;
    background-image: linear-gradient(90deg, #9472e1, #6220fb);
    padding-right: 32px;
    padding-left: 32px;
  }

  button:active {
    opacity: 0.5;
    transition: all 0s;
  }
}

/* Hero Section */

main .heroSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  line-height: 105px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.hero-icon-div {
  width: 100%;
  height: 105px;
  padding: 2.5px;
  display: flex;
  margin-top: 180px;
  justify-content: center;
  align-items: center;
}
.hero-icon {
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 220px;
  height: 100%;
  margin-top: -8px;
  justify-content: center;
  align-items: center;
}
.Slogan {
  font-family: "Forum";
  font-size: 60px;
  font-weight: bolder;
  color: #e8e8e8;
  margin-top: -274px;
}
.description {
  margin-top: -256px;
  font-family: "Forum";
  font-size: 18px;
  font-weight: bolder;
  color: #e8e8e8;
}

.search-box {
  width: 50%;
  height: 5rem;
  /* background-color: #000; */
  border: 4px solid #e8e8e8;
  border-radius: 75px;
  margin-top: -209px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}
.search-box input {
  width: 94.9rem;
  height: 4rem;
  margin-top: -10px;
  background: none;
  /* background-color: #000; */
  border: none;
  outline: 0;
  border-radius: 75px;
  font-size: 20px;
  color: #e8e8e8;
  margin-top: 5px;
  padding-left:24px;
}
.search-box input::placeholder {
  color: #e8e8e8;
  padding-left: 20px;
}

.search-icon-box {
  /* background-color: #000; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 76px;
  border-radius: 50%;
}
.search-box .search-icon {
  /* size-adjust: 2px; */
  height: 57px;
  width: 55px;
}

/* SeconSection */

.secondsection {
  width: 100%;
  height: 150vh;
  /* background-color: #4e2aa4; */
  margin: 20px 0;
}
.seconsection-containers {
  width: 100%;
  height: 150vh;
  /* background-color: #000; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}
.secondsection-1-container {
  width: 100%;
  height: 50vh;
  background-color: #000000;
  background-image: url(container-background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  border-radius: 200px;
}
.secondsection-1-container .container-right {
  img {
    width: 100%;
    height: 100%;
  }
}
.secondsection-2-container {
  width: 100%;
  height: 50vh;
  background-color: rgb(0, 0, 0);
  margin: 20px 0;
  background-image: url(container-background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 200px;
}
.secondsection-2-container {
  display: flex;
  flex-direction: row-reverse;
}
.secondsection-2-container .container-left {
  padding-left: 50px;
}
.secondsection-2-container .container-right {
  img {
    width: 120%;
    height: 100%;
  }
}
.secondsection-3-container {
  width: 100%;
  height: 50vh;
  background-color: rgb(0, 0, 0);
  background-image: url(container-background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  border-radius: 200px;
}
.secondsection-3-container {
  .container-left {
    padding-right: 50px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.secondsection-1-container,
.secondsection-3-container {
  .container-left .cl-h {
    padding-left: 68px;
  }
}

.secondsection-1-container,
.secondsection-2-container,
.secondsection-3-container {
  .container-button {
    button {
      padding: 17px 40px;
      border-radius: 50px;
      cursor: pointer;
      border: 0;
      background-color: white;
      box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      font-size: 15px;
      transition: all 0.5s ease;
    }

    button:hover {
      letter-spacing: 3px;
      background-color: hsl(261deg 80% 48%);
      color: hsl(0, 0%, 100%);
      box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
    }

    button:active {
      letter-spacing: 3px;
      background-color: hsl(261deg 80% 48%);
      color: hsl(0, 0%, 100%);
      box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
      transform: translateY(10px);
      transition: 100ms;
    }
  }
}
.secondsection-1-container,
.secondsection-2-container,
.secondsection-3-container {
  .container-left {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    flex-direction: column;
    gap: 25px;
    justify-content: left;
    padding-right: 50px;
  }
  h1 {
    color: #8b59ff;
    font-size: 50px;
  }
  p {
    color: #e8e8e8;
    font-size: 30px;
    font-weight: 500;
  }
  .container-right {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Thirdsection */

.thirdsection {
  width: 100%;
  height: auto;
  margin: 20px 0;
}
.headings {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 50px 20px;
  justify-content: left;
  align-items: center;
  color: #e8e8e8;
  cursor: pointer;
}
.heading-line {
  background-color: #5d76f4;
  width: 0px;
  height: 2px;
  transition: all 0.5s ease;
}
.headings .first-heading:hover {
  .heading-line {
    width: 170px;
  }
}
.headings .second-heading:hover {
  .heading-line {
    width: 170px;
  }
}
.headings .third-heading:hover {
  .heading-line {
    width: 170px;
  }
}
.thirdsection .popular-tools {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.popular-tools .popular-cards {
  width: 100%;
  height: auto;
  /* background-color: #000; */
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}
.popular-cards {
  .popular-card {
    max-width: 300px;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 2px solid #000;
    /* box-shadow: 10px 10px 20px #484848, -10px -10px 20px #ebebeb; */
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .popular-card:hover {
    transform: translateY(-20px);
  }
  .popular-card a {
    text-decoration: none;
  }

  .content {
    padding: 1.1rem;
  }

  .image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(239, 205, 255);
    border-radius: 10px;
  }

  .title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }

  .desc {
    margin-top: 0.5rem;
    color: #6b7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563eb;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .action span {
    transition: 0.3s ease;
  }

  .action:hover span {
    transform: translateX(4px);
  }
}

.footer {
  background-color: #11101e;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-wrap: normal;
  margin-top: 50px;
}
.footer-top {
  display: flex;
  width: 100%;
  margin-top: 8px;
  flex-direction: row;
  justify-content: space-between;
}
.footer-top-left {
  width: 25%;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  width: 149px;
  height: 72px;
  margin: 16px;
}
.footer-para {
  color: #e8e8e8;
  font-size: 20px;
  margin: 6px;
  margin-left: 16px;
}

.footer-top-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  width: 30%;
}
.footer-top-middle ul {
  line-height: 3rem;
  list-style: none;
}
.footer-top-middle a {
  text-decoration: none;
  color: #e8e8e8;
}
.footer-top-middle-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-top-middle-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-top-middle a:hover {
  color: #9a86ca;
}

.footer-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  font-size: 16px;
  font-weight: 600;
  width: 20%;
}
.footer-top-right ul {
  line-height: 3rem;
  list-style: none;
}
.footer-top-right a {
  text-decoration: none;
  color: #e8e8e8;
}
.footer-top-right a:hover {
  color: #9a86ca;
}

.footer-line {
  background-color: grey;
  width: 100%;
  height: 2px;
  margin-top: 44px;
  margin-bottom: 10px;
}

.footer-down {
  color: whitesmoke;
  margin-top: 12px;
  padding-left: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-down-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.footer-down-link {
  font-size: 16px;
  cursor: pointer;
}
.footer-down a {
  text-decoration: none;
  color: #908dff;
}
.footer-down-right {
  padding-right: 20px;
}
.footer-down-right ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.footer-down .footer-icons {
  color: #e8e8e8;
  cursor: pointer;
}
.footer-down .footer-icons:hover {
  transform: scale(1.07);
}

@media only screen and (min-width: 1025px) {
  .footer-logo {
    width: 232px;
    height: 107px;
    margin-top: 0;
  }
}
/* For Tablets */

@media only screen and (max-width: 768px) {
  .nav .togglebtn {
    display: block;
    margin-top: 22px;
    margin-right: -203px;
  }
  .nav {
    /* background-color: #9472e1; */
    height: 80px;
  }
  .nav {
    .nav-right,
    .nav-middle,
    nav > .getstarted {
      display: none;
    }
  }
  .nav .navbar {
    width: 0;
  }
  .nav .nav-left {
    margin-left: -235px;
  }
  .nav .nav-left .nav-logo {
    width: 148px;
    height: 66px;
    margin-top: 13px;
  }
  .nav .dropdown-menu {
    display: block;
    background-color: #18141380;
  }
  .nav .get_started {
    display: flex;
  }
  .nav .dropdown-menu .fa {
    margin-right: 5px;
    margin-top: 2px;
  }
  /* Hero Section */

  .hero-icon-div {
    margin-top: 103px;
  }
  .Slogan {
    /* margin-top: ; */
    font-size: 20px;
  }
  .description {
    font-size: 14px;
  }
  .hero-center {
    margin-top: -35px;
  }
}

/* For mobiles */
@media only screen and (max-width: 426px) {
  .nav .nav-left {
    margin-left: 0px;
  }
  .nav .nav-left .nav-logo {
    width: 107px;
    height: 55px;
    margin-left: -70px;
  }
  .nav .togglebtn {
    margin-top: px;
    margin-right: -79px;
  }
  .hero-icon {
    width: 60px;
    height: 60px;
  }
  .hero-center {
    margin-top: -30px;
  }
  .description {
    font-size: 5px;
  }
}
